body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: black;
}

nav {
  max-width: 1000px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;

  padding: 1.5rem;

  border-radius: 0 0 10px 10px;

  background-color: var(--color-grey-100);
}

main {
  max-width: 1000px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

article {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.home {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.home-intro {
  display: flex;
}

.intro-brief {
  max-width: 500px;
}

.intro-picture {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-profile {
  max-width: 300px;

  border-radius: 50%;
}

.project {
  display: flex;
  align-items: center;
}

.hard_skills {
  display: flex;
}

.hard_skills i {
  display: flex;
}