@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-brand-1: #3F8E00;
  --color-brand-2: #5bac18;
  --color-brand-3: #080808;
  --color-grey-100: #1B1B1B;
  --color-grey-200: #495057;
  --color-grey-300: #9C9C9C;
  --color-grey-400: #adb5bd;
  --color-grey-500: #f4f6f7;
  --color-grey-600: #f1f3f5;
  --color-grey-700: #ffffff;
  --color-feedback-alert: #c92a2a;
  --color-feedback-success: #12ab7d;
  --color-feedback-warning: #d08c00;
  --color-feedback-disable: #c6c7cd;
  --font-size-1: 1rem;
  --font-size-2: 0.875rem;
  --font-size-3: 0.75rem;
}

fieldset {
  border: none;
}