* {
  color: var(--color-grey-300);
  text-decoration: none;
}

:root h1 {
  display: block;
  font-family: 'Raleway';
  font-size: 2em;
  font-weight: bold;
  color: var(--color-grey-700);
}

:root h2 {
  display: block;
  font-family: 'Raleway';
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-grey-700);
}

:root h3 {
  display: block;
  font-family: 'Raleway';
  font-size: 1.17em;
  font-weight: bold;
  color: var(--color-grey-700);
}

:root h4 {
  display: block;
  font-family: 'Raleway';
  font-size: 1em;
  font-weight: bold;
  color: var(--color-grey-700);
}

:root a {
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--color-grey-300);
  text-decoration: none;
}

:root p {
  color: var(--color-grey-300);
}

:root img {
  color: var(--color-grey-700);
}